.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.project-1 {
  grid-area: 1 / 1;
}

.project-img-1 {
  grid-area: 1 / 2;
}

.project-2 {
  grid-area: 2 / 2;
}

.project-img-2 {
  grid-area: 2 / 1;
}

.projects .titulo-h2 {
  grid-column: 1 / -1;
}

.btn-project {
  color: var(--cor-secundaria);
  font-size: 2rem;
  text-decoration: none;
}